/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2019, 22.21.06
    Author     : SparK
*/

body {
   font-size: 14px; 
   font-family: "Open Sans", Arial, sans-serif;
   color: black;
}
#logo{
    background-color: blue;
}
header, footer {
    color: white;
}
.label {
   font-weight: bold; 
}
div#content > h2{
    color: #9e1616;
}
h1, h2, h3, h4, h5, h6{
    color: #1c345a;
}
a:link, a:visited{
    color: #9e1616;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
a[href="index.html"]{
    color: #1c345a;
}